/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* Header Styling */
header {
    background-color: rgba(40, 38, 38, 0.916);
    height: 14vh;
    width: 100%;
    position: relative;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

/* Logo */
.logo {
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: 3px;
    cursor: pointer;
}

/* Navigation Links */
.nav-links {
    display: flex;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.nav-links ul li a {
    font-weight: 500;
    color: blue;
    text-decoration: none;    
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

/* Hamburger Button */
.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none; /* Hidden by default */
}

footer{
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: column;
}
#links{    
    padding: 2rem;
    display: flex;
    column-gap: 4rem;
    justify-content: space-between;
    border-bottom: 0.4px solid gray;
}
#about-me{
    width: 40%;
}

#about-me p{
    padding-top: 1rem;
}

#quicklinks h4,#social-links{
    font-size: 1.2rem;
}
#quicklinks ul,#social-links ul{
    padding-top: 1rem;
}
#quicklinks ul li,#social-links ul li{
    padding-bottom: 0.2rem;
}
#quicklinks ul li a,#social-links ul li a{
    font-size: 1.1rem;
    color: white;

}
#quicklinks ul li a:hover,#social-links ul li a:hover{
    text-decoration: underline;
}

#copyright{
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}
/* Responsive Design: Mobile Navigation */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block; /* Show button on small screens */
        font-size: 30px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .nav-links {
        display: none; /* Hide menu initially */
        position: absolute;
        top: 14vh;
        left: 0;
        width: 100%;
        background-color: rgba(40, 38, 38, 0.95);
        text-align: start;
        padding: 1rem 0;
    }

    .nav-links ul {
        flex-direction: column;
        row-gap: 0.5rem;
        width: 100%;
    }

    .nav-links ul li{
        padding-left: 2rem;
    }
    .nav-links.active {
        display: block;
    }
    a{
        font-size: 1rem;
    }
}
