#hero{    
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #BBDEFB;
    min-height: 60vh;
    width: 100%;
}

#hero h1{
    font-size: 2.8rem;
    text-align: center;
}
#hero p{
    font-size: 1.2rem;
    padding-top: 2rem;
}
#cta-btns {
    width: 100%;
    display: flex;    
    justify-content: center;
    column-gap: 2rem;
    padding: 2rem;   
}

#download-cv{
    background-color: #1976D2;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    color: whitesmoke;
    cursor: pointer;
}
#download-cv:hover{
    background-color: #1E88E5;
}

#get-in-touch{
    outline: none;
    border: 0.2px solid #1976D2;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: #1E88E5;
}
#get-in-touch:hover{
    color: black;
}
#separator{    
    margin: 4rem 2rem;
    border-bottom: 2px solid #1E88E5;
}
section{ /* section */
    padding:0rem 2rem;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;    
}

.banner{ /* section banner container*/    
    width: 250px;
    height: 250px;
    box-shadow:0px 6px 18px 0px rgba(0,0,0,0.56);    
    display: flex;
    justify-content: center;
    align-items: center;
}
#small-icon{
    display: none;
}
.text-container{ /* section text component container */
    width: 70%;    
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow:0px 6px 18px 0px rgba(0,0,0,0.56);
    min-height: 50vh;
}
.text-container h3{ /* section text component heading */
    color: black;
    
}
.text-container p{/* section text component paragraph */
    color: rgb(170, 162, 162);
}

.text-container a{ /* Link to see more about a section */
    text-decoration: none;    
    display: flex;
    justify-content: center;
    background:#1E88E5;
    padding: 0.2rem 0.4rem;
    width: 8rem;
    color: black;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 425px) {
    #hero p{        
        padding-top: 2rem;
    }
    #cta-btns {
        flex-direction: column;
        row-gap: 2rem;
        width: 100%;
        padding: 0.5rem;
    }

    #download-cv{        
        padding: 0.3rem 0.2rem;        
        border-radius: 0.3rem;  
    }

    #get-in-touch{        
        padding: 0.3rem 0.2rem;        
        cursor: pointer;        
    }
    #separator{    
        margin: 1rem 0.5rem;
        border-bottom: 2px solid #1E88E5;
    }
    section{        
        flex-direction: column;
        padding: 0rem 0.5rem;
    }
    .banner{
        display: none;
    }
    #small-icon{
        display: block;
    }
    .text-container{
        width: 100%;
    }
}